.navigation{
    background-color:rgb(56, 48, 56);
}
.navigation a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 40px;
    display: inline-block;
    align-content: center;
    text-align: center;
}
.navigation a:hover{
    background-color: green;
}
